html, body {
  margin: 0;
  padding: 0;
  background: #222222;
}

.loader {
  display: block;
  width: 128px;
  height: 128px;
  background: url('../img/logo-white.svg') center center no-repeat #3d003d;
  background-size: 114px;
  border-width: 12px;
  border-color: #ffffff;
  border-left-style: double;
  border-right-style: double;
  border-top-style: double;
  border-bottom-style: solid;
  border-radius: 76px;
  box-shadow: 0px 0px 12px #000000;
  animation-name: spin-border;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin-border {
  0% {
    border-top-style: solid;
    border-bottom-style: double;
    border-left-style: solid;
    border-right-style: solid;
  }
  25% {
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: double;
    border-right-style: solid;
  }
  50% {
    border-top-style: double;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
  }
  75% {
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: double;
  }
  100% {
    border-top-style: solid;
    border-bottom-style: double;
    border-left-style: solid;
    border-right-style: solid;
  }
}

#initializing {
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -64px 0 0 -64px;
}
